@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border-2: 2px solid #F5F3F0;;
  --btn-bg: #F0EEE8;
  --border-radius: 34px;
  --gap-6: 6px;
}

body {
  font-family: var(--font-mena);
  background-color: #F9F8F6;
}

.f-p22{
  font-family: var(--font-p22);
}
.f-satoshi{
  font-family: var(--font-satoshi);
}

.font-p22800{
  font-family: var(--font-p22800);
}
.f-satoshi-bold{
  font-family: var(--font-satoshi-bold);
}

.name{
  line-height: 52.8px
}

.identity li{
  color: #464229;
  line-height: 19.04px
}

.divider{
  height: 18px;
  width: 1px;
  background-color: #F0EEE8;
  border-radius: 24px;
}

.responsive{
  width: 90%; 
  margin: 0 auto;
}

.break-ellipsis {
  max-width: 342px; /* Set your desired max width here */
  white-space: nowrap; /* Prevent the text from wrapping onto multiple lines */
  overflow: hidden; /* Hide any overflowed content */
  text-overflow: ellipsis; /* Add ellipsis (...) when the text overflows */
  word-break: break-all; /* Break long words when necessary */
}

@media screen and (min-width:768px){
  .break-ellipsis {
    max-width: 680px; 
  }
  
}

.slider img{
  border-radius: 12px;
}

.utility-links li a{
  border: 2px solid #F5F3F0;
  background-color: #F0EEE8;
  padding: 6px 16px;
  border-radius: 34px;
  display: flex;
  gap: 6px;
}
.c-menu{
  border: 2px solid #F5F3F0;
  background-color: #F0EEE8;
  padding: 6px 16px;
  border-radius: 34px;
  display: flex;
  gap: 6px;
  width: max-content;
  align-items: center;
}

.slant-divider{
width: 2px;
height: 22px;
background-color: #F0EEE8;
transform: rotate(30deg);
}

.dropdown a{
  color: #333333;
  font-family: var(--font-p22);
  font-weight: 400;
  font-size: 1rem;
  line-height: 23.2px;
}

@media screen and (min-width:768px){
  .responsive{
    width: 680px; 
  }
}
