@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}


body {
  font-family: var(--font-mena);
  /* font-family: Arial, Helvetica, sans-serif; */
}

.responsive-layout{
  width: 90%; 
  margin: 0 auto;
}

@media screen and (min-width:1280px){
  .responsive-layout{
    width: 768px; 
    margin: 0 auto;
  }
}
